
<settings>
    <ActiveByDefault>True</ActiveByDefault>
    <ActivationHotKey>KEY_F11</ActivationHotKey>
    <ReloadConfigKey>KEY_NUMPAD4</ReloadConfigKey>
	<ImSpotted>An enemy has spotted me at {pos}.</ImSpotted>
	<DisableSystemMsg>Sixth Sense Message disabled</DisableSystemMsg>
	<EnableSystemMsg>Sixth Sense Message enabled</EnableSystemMsg>
	<BattleType>
		<default>
			<Order>
				<Command>ping</Command>
				<Command>help</Command>
				<Command>teammsg</Command>
			</Order>
			<MaxTeamAmount>0</MaxTeamAmount>
			<VehicleTypes>
				<LT>True</LT>
				<MT>True</MT>
				<HT>True</HT>
				<TD>True</TD>
				<SPG>True</SPG>
			</VehicleTypes>
		</default>
		<Random>
			<Order>
				<Command>squadmsg</Command>
			</Order>
			<MaxTeamAmount>0</MaxTeamAmount>
			<VehicleTypes>
				<LT>True</LT>
				<MT>True</MT>
				<HT>True</HT>
				<TD>True</TD>
				<SPG>True</SPG>
			</VehicleTypes>
		</Random>
	</BattleType>
</settings>